<% provide(:title, 'All Events') %>
<h1>イベント一覧</h1>
<%= link_to "新規作成", new_event_path(@user), method: :get, class: "btn btn-primary" %>
<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-hover" id="table-users">
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.event_day, event %></td>
        <td>
          <% if current_user.admin? && !current_user?(@user) %>
            <%= link_to "削除", event, method: :delete,
                data: { confirm: "削除してよろしいですか？" },
                class: "btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>